div > .vimiumHintMarker {

background:#1576c2 !important;
border: 1px solid #393f4c ;
}

div > .vimiumHintMarker span {
/* linkhint text */
color: white;
font-weight: bold;
font-size: 12px;
}

div > .vimiumHintMarker > .matchingCharacter {
}