body,
#appbar {
  background: #2a3339;
}

/**
  * Search bar
  */
.minidiv[style="position: fixed; top: 0px;"]~#main #top_nav {
  position: -webkit-sticky;
  position: sticky;
  top: 39px;
  z-index: 99;
}

/**
  * Search form
  */
.RNNXgb,
.minidiv .RNNXgb {
  width: auto;
  border-radius: 3px;
  border: none;
}

/**
  * Search form with recommendations
  */
.emcav .RNNXgb {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/**
  * Recommendations menu
  */
.aajZCb,
.minidiv .aajZCb {
  border-radius: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: none;
}

/**
  * #hdtbSum : Tool bar
  * #hdtbMenus : Menu bar
  * .sfbg.nojsv : Search bar background
  */
#hdtbSum,
#hdtbMenus,
.sfbg.nojsv {
  background: #d6d9db;
}

/**
  * Menu bar
  */
#hdtbMenus {
  top: 58px;
}

/* title */
h3 {
  background: #d8e4ea24;
  padding: 6px 8px 6px 5px;
  border-radius: 3px;
}

/* links */
a:link {
  color: #37b9b6;
}

/* links visited */
.mblink:visited,
a:visited {
  color: #b4bcc1;
}

/* link beneath title */
.TbwUpd cite,
a.fl:link {
  color: #aca8a5;
}

/* link dropdown arrow */
.ab_button {
  background: transparent;
}

/* description */
.s {
  color: #9fabb3;
}

/* description emphasised */
.st em {
  color: #c1cbd2 !important;
}

/*  cards */
.cv2VAd {
  border: none;
  border-radius: 3px;
}

.kp-blk {
  border-radius: 3px;
  background: #d6d9db;
}

g-inner-card {
  background: #d6d9db;
}